/Algorithm Design by Jon Kleinberg, Eva Tardos.pdf
/algoritmos-teoria-e-prc3a1tica-3ed-thomas-cormen.pdf
/book-Data_Structures_and_Apps-DSA.pdf
/orientação a objetos
/SkienaTheAlgorithmDesignManual.pdf
/treino_arvore_binaria